.container
  h1 Season {{id}}
  table.table.table-striped.table-hover.table-bordered
    tr
      th Name
      th(ng-show='id != "Custom Games"') Description
      th(ng-show='id != "Custom Games"') Note
      th(ng-show='id == "Custom Games"') Edit
      th(ng-show='id == "Custom Games"') Delete
    tr(ng-repeat='episode in data')
      td
        a(ui-sref='game({ id: episode.id })') {{ episode.name }}
      td(ng-show='id != "Custom Games"') {{episode.description}}
      td(ng-show='id != "Custom Games"') {{episode.note}}
      td(ng-show='id == "Custom Games"')
        a(href="/#/editor/{{episode.name}}") Edit Game
      td(ng-show='id == "Custom Games"')
        button(ng-click='deleteGame(episode.name)') Delete Game
    tr(ng-show='id == "Custom Games"')
      td.row.text-center(colspan="4")
        a(class="btn btn-primary mb-3", href="/#/editor/" + Date.now()) Create New Game